<%= form_with(model: giver, local: true) do |form| %>
  <% if giver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(giver.errors.count, "error") %> prohibited this giver from being saved:</h2>

      <ul>
      <% giver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :giver_cross_street1 %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :giver_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :giver_longitude %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :giver_country %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :giver_zipcode %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :giver_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :giver_status %>
  </div>

  <div class="field">
    <%= form.label :wallet_address %>
    <%= form.text_field :wallet_address, id: :wallet_address %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
