<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @giver.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @giver.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @giver.longitude %>
</p>

<p>
  <strong>Country:</strong>
  <%= @giver.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @giver.zipcode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @giver.status %>
</p>

<p>
  <strong>Wallet Address:</strong>
  <%= @giver.wallet_address %>
</p>

<%= link_to 'Edit', edit_giver_path(@giver) %> |
<%= link_to 'Back', givers_path %>
