<p id="notice"><%= notice %></p>

<p>
  <strong>Cross street1:</strong>
  <%= @giver.cross_street1 %>
</p>

<p>
  <strong>Cross street2:</strong>
  <%= @giver.cross_street2 %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @giver.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @giver.longitude %>
</p>

<p>
  <strong>Country:</strong>
  <%= @giver.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @giver.zipcode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @giver.status %>
</p>

<%= link_to 'Edit', edit_giver_path(@giver) %> |
<%= link_to 'Back', givers_path %>
