<p id="notice"><%= notice %></p>

<h1>Takers</h1>

<table>
  <thead>
    <tr>
      <th>Cross street1</th>
      <th>Cross street2</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Country</th>
      <th>Zipcode</th>
      <th>Phone Number</th>
      <th>Takers Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @takers.each do |taker| %>
      <tr>
        <td><%= taker.cross_street1 %></td>
        <td><%= taker.cross_street2 %></td>
        <td><%= taker.latitude %></td>
        <td><%= taker.longitude %></td>
        <td><%= taker.country %></td>
        <td><%= taker.zipcode %></td>
        <td><%= taker.phone_number %></td>
        <td><%= taker.takers_name %></td>
        <td><%= link_to 'Show', taker %></td>
        <td><%= link_to 'Edit', edit_taker_path(taker) %></td>
        <td><%= link_to 'Destroy', taker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taker', new_taker_path %>
